



<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div >
                <a href="#"><h3 class="main" style="color: rgb(0, 0, 0);">Personal Complaint Raising App</h3></a>
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <div class="row" id="storyboard">
              <img src="https://image.shutterstock.com/z/stock-photo-stop-sexual-abuse-sign-words-clouds-shape-isolated-in-white-background-121621387.jpg" alt="Welcome" height="700px" width="1136px">    
            </div>
            <hr>
            <h5>
              Sexual abuse is sexual behavior or a sexual act forced upon a woman, man or child without their consent. Sexual abuse includes abuse of a woman, man or child by a man, woman or <br>
  
  Sexual abuse is an act of violence which the attacker uses against someone they perceive as weaker than them. It does not come from an uncontrollable sex drive, but is a crime committed deliberately with the goal of controlling and humiliating the victim. <br>
  
  Most victims of sexual violence are women – a fact that reflects their social stance even today, in the 21st century, as inferior to men. Sexual violence is another means of oppressing women in a patriarchal <br>
  
  Sexual violence is a social phenomenon that exists in every society that accepts aggressive behavior and gender inequality, and Israel is among them. Thousands of women turn to the rape crisis centers for help after an attack, and the statistics show that 1 in 3 women will be sexually abused during their lifetime. <br> <br>
            </h5>
            <h5>
             <h2> <b> Types of Sexual Assault</b></h2> <br>
               <b> Sexual assault</b> – a term including all sexual offenses. Any action or statement with a sexual nature and done without consent from both sides. <br>
               <b>Rape</b>  – insertion of a bodily organ or an object into the sex organ of a woman without her consent. <br>
               <b>Sodomy</b> – insertion of a bodily organ or an object into a person's anus or mouth without their consent. <br>
               <b>Attempted rape</b> – attempted insertion of a bodily organ or an object into the sex organ of a woman without her consent. <br>
               <b>Gang rape</b> – rape carried out by more than one attacker. <br>
               <b>Serial rape</b> – repeated incidents of rape carried out by the same attacker over an extended period of time. <br>
               <b>Incest</b> – Sexual abuse or assault at the hands of a family member. <br><br>
               For full legal definitions of types of sexual assault, see the penal code from 1977 <br><br>
  
              <h2> <b> Types of Sexual Harassment</b></h2><br>
              Extortion when the act the person required to perform is of a sexual nature. <br>
              An indecent act, i.e. an act performed to cause humiliation, stimulation or sexual satisfaction. <br>
              Repeated propositions that are of a sexual nature addressed to a person who has previously demonstrated to the harasser that they are not interested in said propositions. <br>
              Repeated remarks relating to the person's sexuality when that person has already shown the harasser that they are not interested in said remarks. <br>
              Degrading or humiliating remarks relating to a person's sex or sexuality, including their sexual orientation. <br>
              Publishing a picture, video or recording of someone focusing on their sexuality for the purpose of humiliating or degrading the person without their consent. <br>
              Propositions or remarks of a sexual nature when the harasser is aware that their target is not interested due to circumstances of exploiting a working relationship, dependency and other services. <br>
              Sexual Harassment in the Workplace <br>
              In every workplace that employs more than ten workers, the employer by law is responsible for the prevention of sexual harassment. If there were incidents of sexual harassment in the work place  <br>
              or maltreatment in connection to sexual harassment, you may turn to your supervisor and submit a report, which will be handled through disciplinary action according to your work place's policies regarding sexual harassment. <br>
  
              You may, instead or in addition, file a report with the police or take civil action in labor court.  <br>
            </h5>
            <!--/stories-->
            
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  <hr>
  
  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  <hr>
  
  <hr>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
        </div>
        <div class="col-md-12">
            <p style="text-align: center;">Copyright@Sinil2021</p>      
        </div>
      </div>
    </div>
  </footer>
  
